<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify"> The site was made by Ivan for his own increase of knowledge in the web sphere and
          improvement of skills .</p>
      </div>


      <div>
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li>About </li>
          <li>Contact </li>
          <li>Contribute</li>
          <li>Privacy Policy</li>

        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022

        </p>
      </div>

    </div >
    <div class="soshial">
    <a class="glassIco" href="#"><i class="fab fa-facebook-f"></i></a>
    <a class="glassIco" href="#"><i class="fab fa-instagram"></i></a>
    <a class="glassIco" href="#"><i class="fab fa-linkedin-in"></i></a>
    <a class="glassIco" href="#"><i class="fab fa-whatsapp"></i></a>
  </div>
  </div>
</footer>
</div>
<script src="/js/js.js"></script>

</body>

</html>